In [1]:
API_KEY="BLL2NISI8SIJF8FJ"

In [2]:
import numpy as np
import pandas as pd
from pandas_datareader import data as wb

In [3]:
from alpha_vantage.timeseries import TimeSeries

In [4]:
ts = TimeSeries(key = 'API_KEY', output_format='pandas')

In [5]:
PG_av, metadata = ts.get_daily_adjusted('BSE:TCS', outputsize='full')
PG_av

,1. open,2. high,3. low,4. close,5. adjusted close,6. volume,7. dividend amount,8. split coefficient
date,,,,,,,,
2020-08-25,2250.0000,2250.0000,2235.0000,2242.2500,2242.2500,44505.0,0.0,1.0
2020-08-24,2248.0000,2259.1499,2230.0000,2247.9500,2247.9500,69290.0,0.0,1.0
2020-08-21,2254.0000,2270.3000,2242.0000,2248.2000,2248.2000,54539.0,0.0,1.0
2020-08-20,2257.0000,2276.0000,2240.0000,2252.0000,2252.0000,137977.0,0.0,1.0
2020-08-19,2273.8999,2283.9500,2253.0000,2256.2500,2256.2500,70011.0,0.0,1.0
...,...,...,...,...,...,...,...,...
2005-01-07,1330.0000,1344.7000,1311.1000,1339.4000,129.9336,2627176.0,0.0,1.0
2005-01-06,1327.0000,1345.0000,1292.1504,1319.9000,128.0415,3441640.0,0.0,1.0
2005-01-05,1330.0000,1338.1000,1281.0000,1324.8000,128.5169,3669696.0,0.0,1.0
2005-01-04,1350.7504,1356.0000,1334.0000,1340.3504,130.0254,1312656.0,0.0,1.0
2005-01-03,1349.8000,1358.0000,1338.2504,1353.2000,131.2724,1185200.0,0.0,1.0